{% load staticfiles %}

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- MathJax -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] },
    TeX: {
      extensions: ["noUndefined.js", "noErrors.js"]
    }
  });
</script>

<script src="{% static 'js/libs/MathJax/MathJax.js' %}"></script>

<!-- jQuery -->
<script src="{% static 'js/libs/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/libs/jquery-ui-1.11.4/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/libs/tag-it/js/tag-it.js' %}" type="text/javascript" charset="utf-8"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/libs/bootstrap.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'js/libs/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/app/classie.js' %}"></script>
<script src="{% static 'js/app/cbpAnimatedHeader.js' %}"></script>

<script src="{% static 'js/app/tabs_show_hide_content.js' %}"></script>
<script src="{% static 'js/app/sort_and_filter.js' %}"></script>
<script src="{% static 'js/app/category_autocomplete.js' %}"></script>



<!-- Contact Form JavaScript -->
<script src="{% static 'js/libs/jqBootstrapValidation.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'js/app/freelancer.js' %}"></script>