{% for article_group in cross_list_articles %}
<div class="row">
    {% for article in article_group %}

    <div class="col-sm-12 portfolio-item">
        {% if cross_list_surf_group %}
        <h4> <a href="{% url 'paper' article.arxiv_id %}?surf_group={{ cross_list_surf_group }}"> {{ article.title }} </a> </h4>
        {% else %}
        <h4> <a href="{% url 'paper' article.arxiv_id %}"> {{ article.title }} </a> </h4>
        {% endif %}
        <div>
        By: 
        {% for author in article.all_authors %}
            <a href="{% url 'author' author.id %}">{{ author }}</a>,
        {% endfor %}
        </div>
        <div class="text-right">
            On: {{ article.created_date|date:"DATETIME_FORMAT" }}
        </div>
        <div>
            In: 
            {% for category in article.all_categories %}
                <a href="{% url 'category' category.code %}">{{ category }}</a>,
            {% endfor %}
        </div>

        <div class="text-container">
            <div class="show-more"> <a href="#">Full Abstract</a> </div>
            <div class="text-content short-text"> {{ article.abstract }} </div>
        </div>
    </div> 
    {% endfor %}
</div>
<hr>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if paginated_cross_list.has_previous %}
            <a href="?page={{ paginated_cross_list.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ paginated_cross_list.number }} of {{ paginated_cross_list.paginator.num_pages }}
        </span>

        {% if paginated_cross_list.has_next %}
            <a href="?page={{ paginated_cross_list.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>