<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ARXIV</title>

    {% include "parts/common_css.html" %}

</head>

<body id="page-top" class="index">
    {% include "parts/google_analytics.html" %}

    <!-- Navigation -->
    {% include "nav_bar.html" %}

    <!-- Header -->
    <header>
        <!-- <div class="container"> -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        {% if section_message %}
                        <span class="name">{{ section_message }}</span>
                        {% else %}
                        <span class="name">Home</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        <!-- </div>  -->
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">

            {% if header_message %}
            <h3 style="text-align: center"> {{ header_message }} </h3>
            {% endif %}

            {% if info_message %}
            <h5 style="text-align: center"> {{ info_message }} </h5>
            {% endif %}

            {% if displayed_filters %}
            {% include "parts/filter_dropdown.html" %}
            {% endif %}

            <div class="tabs">
                <ul class="tab-links">
                    {% if tab_names.0 %}
                    <li class="active"><a href="#tab1">{{ tab_names.0 }}</a></li>
                    {% else %}
                    <li class="active"><a href="#tab1">Papers</a></li>
                    {% endif %}

                    {% if tab1_articles %}
                        {% if tab_names.1 %}
                    <li><a href="#tab2">{{ tab_names.1 }}</a></li>
                        {% else %}
                    <li><a href="#tab2">Cross list</a></li>
                        {% endif %}
                    {% endif %}

                    {% if tab2_articles %}
                        {% if tab_names.2 %}
                    <li><a href="#tab3">{{ tab_names.2 }}</a></li>
                        {% else %}
                    <li><a href="#tab3">Replacement</a></li>
                        {% endif %}
                    {% endif %}

                    <!-- {% if recommended_articles %}
                    <li><a href="#tab4">Recommended</a></li>
                    {% endif %} -->
                </ul>

                <div class="tab-content">
                    {% if articles %}
                    <div id="tab1" class="tab active">
                        {% include "parts/papers_display.html" %}
                    </div>
                    {% endif %}

                    {% if tab1_articles %}
                    <div id="tab2" class="tab">
                        {% include "parts/tab1_display.html" %}
                    </div>
                    {% endif %}

                    {% if tab2_articles %}
                    <div id="tab3" class="tab">
                        {% include "parts/tab2_display.html" %}
                    </div>
                    {% endif %}

                    <!-- <div id="tab4" class="tab">
                    {% if recommended_articles %}
                        {% include "parts/recommended_papers_display.html" %}
                    {% endif %}
                    </div> -->
                </div>
            </div>
        </div>
    </section>

    {% include "parts/common_js.html" %}

</body>

</html>
